<span class="header">Welcome to {{ title|uppercase }}!</span>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/img/logo.svg" alt="Vice News Logo" align="left">
    </div>
    <div class="col-sm-7">
      <span class="navBar">Watch <strong>VICE News Tonight</strong> on HBO weekdays at 7:30.</span>
    </div>
    <div class="col-sm-2">
      subscribe
    </div>
  </div>
  <hr>
  <a routerLink="">Article Menu Test</a>
<!-- for testing to see if I can get bootstrap to work-->

<input type="button" value="button" class="btn btn-danger">




<!-- <app-article-list></app-article-list> -->

<router-outlet></router-outlet>

</div>
