<span class="header">Welcome to {{ title|uppercase }}!</span>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/img/logo.svg" alt="Vice News Logo" align="left">
    </div>
    <div class="col-sm-6">
      <span class="navBar">Watch <strong>VICE News Tonight</strong> on HBO weekdays at 7:30.</span>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-outline-dark">Subscribe</button>
    </div>
    <div class="col-sm-1">
      <a routerLink=""><img src="assets/img/List-Menu.svg" height="30px" width="20px" alt="Menu Icon" align="right"></a>
    </div>
  </div>
  <hr>

  
  <app-stories></app-stories>
<!-- begin articles -->



<router-outlet></router-outlet>

<a routerLink="">Article Menu Test</a>

</div>
