/* You can add global styles to this file, and also import other style files */

// this file is global
//@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
//<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.headline {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 72px;
    color: #FFF;
    background-color: #000;
}

